/* ==========================================================================
   Theopoimandres Bootstrap Theme
   Based on Zed Theme by theopomies
   ========================================================================== */

/*-- scss:defaults --*/
// quarto-scss-analysis-annotation { "origin": "theopoimandres" }
@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Geist:wght@100..900&display=swap");

$theme: "theopoimandres";

/* ==========================================================================
   Theme Colors
   ========================================================================== */
$blue: #89ddff;
$indigo: #91b4d5;
$purple: #c4a7e7;
$pink: #d0679d;
$red: #d0679d;
$orange: #f5a97f;
$yellow: #fffac2;
$green: #5de4c7;
$teal: #5fb3a1;
$cyan: #add7ff;

/* ==========================================================================
   Grays
   ========================================================================== */
$white: #ffffff;
$gray-100: #f5f5f5;
$gray-200: #e5e5e5;
$gray-300: #d4d4d4;
$gray-400: #a3a3a3;
$gray-500: #737373;
$gray-600: #525252;
$gray-700: #404040;
$gray-800: #262626;
$gray-900: #171717;
$black: #0c0c0c;

/* ==========================================================================
   Theme Map
   ========================================================================== */
$primary: $green;
$secondary: $gray-500;
$success: $teal;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $gray-100;
$dark: $gray-900;

$breakpoint-xs: 0;
$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
$breakpoint-xxl: 1536px;

$container-max-widths: (
    sm: 640px,
    md: 768px,
    lg: 768px,
    xl: 768px,
    xxl: 768px,
);

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "light": $light,
    "dark": $dark,
);

/* ==========================================================================
   Body
   ========================================================================== */
$body-bg: $black;
$body-color: $gray-200;

/* Links */
$link-color: $body-color;
$link-hover-color: $body-color;
$link-decoration: none;
$link-hover-decoration: none;

/* ==========================================================================
   Borders
   ========================================================================== */
$border-color: #ffffff10;
$border-color-translucent: rgba(255, 255, 255, 0.1);
$border-radius: 0.5rem;
$border-radius-sm: 0.25rem;
$border-radius-lg: 0.75rem;
$border-radius-xl: 1rem;

/* ==========================================================================
   Fonts
   ========================================================================== */
$font-family-sans-serif:
    "Geist",
    system-ui,
    -apple-system,
    sans-serif;
$font-family-monospace: "Geist Mono", monospace;

$font-size-base: 16px;
$font-weight-base: 400;
$line-height-base: 1.5;

$h1-font-size: 2.25rem;
$h2-font-size: 1.5rem;
$h3-font-size: 1.25rem;
$h4-font-size: 1.125rem;
$h5-font-size: 1rem;
$h6-font-size: 0.875rem;

/* ==========================================================================
   Buttons
   ========================================================================== */
$btn-border-radius: $border-radius;
$btn-border-radius-sm: $border-radius-sm;
$btn-border-radius-lg: $border-radius-lg;

$btn-padding-y: 0.5rem;
$btn-padding-x: 1rem;

/* ==========================================================================
   Tables
   ========================================================================== */
$table-bg: transparent;
$table-color: $body-color;
$table-border-color: $border-color;
$table-hover-color: $body-color;
$table-hover-bg: rgba($gray-800, 0.5);

/* ==========================================================================
   Forms
   ========================================================================== */
$input-bg: $gray-800;
$input-color: $gray-100;
$input-border-color: $border-color;
$input-focus-border-color: $cyan;
$input-placeholder-color: $gray-400;

/* ==========================================================================
   Navbar
   ========================================================================== */
$navbar-dark-color: $body-color;
$navbar-dark-hover-color: $body-color;
$navbar-dark-active-color: $body-color;
$navbar-dark-brand-color: $body-color;
$navbar-dark-brand-hover-color: $body-color;

/* ==========================================================================
   Dropdowns
   ========================================================================== */
$dropdown-bg: $gray-900;
$dropdown-border-color: $border-color;
$dropdown-divider-bg: rgba($white, 0.1);
$dropdown-link-color: $gray-200;
$dropdown-link-hover-color: $white;
$dropdown-link-hover-bg: rgba($gray-800, 0.5);

/* ==========================================================================
   Modals
   ========================================================================== */
$modal-content-bg: $gray-900;
$modal-content-border-color: $border-color;
$modal-header-border-color: $border-color;

/* ==========================================================================
   Alerts
   ========================================================================== */
$alert-bg-scale: 0;
$alert-border-scale: 0;
$alert-color-scale: 0;

/* ==========================================================================
   Cards
   ========================================================================== */
$card-bg: $gray-900;
$card-color: $body-color;
$card-border-color: $border-color;

/* ==========================================================================
   Tooltips
   ========================================================================== */
$tooltip-bg: $gray-800;
$tooltip-color: $white;

/* ==========================================================================
   Popovers
   ========================================================================== */
$popover-bg: $gray-900;
$popover-border-color: $border-color;
$popover-header-bg: $gray-800;

/* ==========================================================================
   Progress bars
   ========================================================================== */
$progress-bg: $gray-800;
$progress-bar-color: $cyan;

/* ==========================================================================
   Pagination
   ========================================================================== */
$pagination-color: $cyan;
$pagination-bg: transparent;
$pagination-border-color: $border-color;
$pagination-hover-color: $white;
$pagination-hover-bg: rgba($gray-800, 0.5);
$pagination-hover-border-color: $cyan;

/* ==========================================================================
   List groups
   ========================================================================== */
$list-group-bg: $gray-900;
$list-group-border-color: $border-color;
$list-group-hover-bg: rgba($gray-800, 0.5);

/* ==========================================================================
   Code
   ========================================================================== */
$code-color: $body-color;
$code-bg: #13161c;
$code-border-color: $border-color;

/*-- scss:rules --*/
::selection {
    background-color: #47a3f3;
    color: #fefefe;
}

/* ==========================================================================
   Inline code
   ========================================================================== */
.cell-output pre {
    background-color: $code-bg;
    border-radius: $border-radius;
    border: 1px solid $border-color;
    color: $body-color;
    overflow-x: auto;
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
}

.cell-output-stderr pre {
    border-left: 1px solid $danger;
}

.cell-output-stdout pre {
    border-left: 1px solid $cyan;
}

.cell-output-display pre {
    border-left: 1px solid $primary;
}

a:not(.nav-link):not(.btn):not(.anchorjs-link) {
    text-decoration: underline;
    text-decoration-color: $gray-600;
    text-underline-offset: 0.2em;
}

.quarto-listing a {
    text-decoration: none !important;
}

nav .nav-link {
    color: $body-color;
    &:hover {
        color: $body-color;
    }
}

.listing-categories {
    padding: 0.5rem 0;
}

code.sourceCode {
    overflow-x: auto;
}

/* center it and keep full width on very small screens */
.navbar-container.container-fluid {
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    max-width: 1200px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;

    @media (min-width: $breakpoint-lg) {
        & .navbar-nav {
            gap: 1.5rem;
        }

        & .nav-link {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
    }
}

.sourceCode.cell-code {
    margin-bottom: 0.5rem !important;
}

.sourceCode {
    background-color: $code-bg !important;
}
