@import "theopoimandres.scss";

/*-- scss:defaults --*/
$body-bg: $white;
$body-color: $gray-800;
$code-color: $body-color;
$code-bg: #252b37;
$monobackgroundcolor: $gray-100;
$border-color: $gray-300;
$code-border-color: $border-color;
$link-color: $body-color;
$link-hover-color: $body-color;
